.wrapper{
    perspective: 3000px;
    margin: 0;
    padding: 0;
}
.card{
    width: 360px; 
    height: 530px;
    transform-style: preserve-3d;
    transition: transform .8s ease-in-out;
    border: transparent;
    box-shadow: 5px 5px 10px black -5px -5px 10px black;
    border-radius: 15px;
    margin-bottom: 50%;
}
.card:hover{
    transform:rotateY(180deg) ;
}

.front-pag{
    position: absolute;
    width: 100%;
    height: 100%;
}

.back-page{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
} 
.card-title img{
    background-size: cover;
    width: 80%;
    margin-right: 5%;
}
.card-info{
    position: absolute;
    bottom: 58px;
    left: 45px;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 6px black;
    text-align: center;
}
.card-title{
    font-size: 2rem;
}
.card-subtitle{
    font-size: 1.2rem;
    margin-top: 5px;
    color: black;
}
.back-page{
    background-color: transparent;
    color: rgb(3, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    margin-bottom: 50%;
    background-color: rgb(255, 193, 193);
    position: absolute;
}
.card-content{
    text-align: center;
    padding: 20px;
    max-width: 300px;
}
.card-content h3{
    font-size: 1.8rem;
    margin-bottom: 15px;
}
.card-content p{
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.6;
    color: black;
}