.wrapper{
    perspective: 3000px;
    
}
.card{
    width: 360px; 
    height: 530px;
    transform-style: preserve-3d;
    transition: transform .8s ease-in-out;
    border: 1px solid white;
    box-shadow: 5px 5px 10px black -5px -5px 10px black;
    border-radius: 15px;
}
.card:hover{
    transform:rotateY(180deg) ;
}

.front-page,
.back-page{

    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
} 
.card-title img{
    width: 90%;
    background-size: cover;
    height: 90%;
    position: absolute;
    margin-right: 20%;







}
.card-info{
    position: absolute;
    bottom: 58px;
    left: 45px;
    color: white;
    text-shadow: 2px 2px 6px black;
    text-align: center;
}
.card-title{
    font-size: 2rem;
   
}
.card-subtitle{
    font-size: 1.2rem;
    margin-top: 5px;
    color: black;

}
.back-page{
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    margin-bottom: 50%;
    position: absolute;

}
.card-content{
    text-align: center;
    padding: 20px;
    max-width: 300px;

}
.card-content h3{
    font-size: 1.8rem;
    margin-bottom: 15px;
}
.card-descricao{
    font-size: 1rem;
    color: white;
    margin-bottom: 20px;
    line-height: 1.6;
}
