.conteiner1{
    width: 100%;
    
} 
.promocoes-conteiner{
    display :flex;
    gap:3%;
    margin-top:2%;
}

.conteiner2 {
    width: 22%;
    
    
}
.conteiner2 img{
   width: 100%;
   height: 65%;
   border-radius:10px;
}

.conteiner2 p{
    color:white;
}










.conteiner2 button  {
 background-color: #eee;
 border: none;
 padding: 1rem;
 font-size: 0.9rem;
 width: 10em;
 border-radius: 1rem;
 color: lightcoral;
 box-shadow: 0 0.4rem #dfd9d9;
 cursor: pointer;
 height: 3em;
 margin-top:3%;

}

 .conteiner2 button:active {
 color: white;
 box-shadow: 0 0.2rem #dfd9d9;
 transform: translateY(0.2rem);
}

 .conteiner2  button:hover:not(:disabled) {
 background: lightcoral;
 color: white;
 text-shadow: 0 0.1rem #bcb4b4;
}

 .conteiner2  button:disabled {
 cursor: auto;
 color: grey;
}

 .conteiner2:hover
{
        -xpedu-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
}